.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background: white;
}

.part {}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.part.left {

}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.part.center {}

.part.center .title {
    font-family: var(--font-family-title);
    font-size: 25px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.part.right {}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/